{% extends "mainPage.html" %} {% block title %}
<title>Crear Material</title>
{% endblock %} {% block estilos %}
<link
	rel="stylesheet"
	href="{{url_for('static', filename='estilos/formatos.css')}}"
/>
{% endblock %} {% block page_content %}
<header>
	<h1 class="titulo">Material</h1>
	<div class="num-pedido">Num. material</div>
</header>
<form action="agregar_material" name="material" method="post">
	<div class="container">
		<div class="fechas">
			<label for="fechaPedido" class="form-label">Fecha del pedido</label>
			<input
				class="form-control"
				type="date"
				id="fechaPedido"
				name="fecha_pedido"
			/><br />
			<label for="fechaRecibido" class="form-label"
				>Fecha de documento</label
			>
			<input
				class="form-control"
				type="date"
				id="fechaRecibido"
				name="fecha_recibido"
			/>
		</div>
		<div class="pedidos">
			<div class="col-md-4">
				<label for="cod" class="form-label">Código del material</label>
				<input class="form-control" type="text" id="cod" name="codigos" />
			</div>

			<div class="col-md-4">
				<label for="nombre" class="form-label">Nombre del material</label>
				<input
					class="form-control"
					type="text"
					id="nombre"
					name="material"
				/>
			</div>

			<div class="col-md-4">
				<label for="referencia" class="form-label">Referencia</label>
				<input
					class="form-control"
					type="text"
					id="referencia"
					name="referencia"
				/>
			</div>

			<div class="col-md-4">
				<label for="proveedor" class="form-label">Proveedor</label>
				<input
					class="form-control"
					type="text"
					id="proveedor"
					name="proveedor"
				/>
			</div>

			<div class="col-md-4">
				<label for="descripcion" class="form-label"
					>Descripción del material</label
				>
				<input
					class="form-control"
					type="text"
					id="descripcion"
					name="descripcion"
				/>
			</div>

			<div class="col-md-4">
				<label for="final_product" class="form-label">Producto final</label>
				<input
					class="form-control"
					type="text"
					id="final_product"
					name="producto_final"
				/>
			</div>

			<div class="col-md-4">
				<label for="unidad-medida" class="form-label"
					>Unidad de medida</label
				>
				<select id="unidad-medida" name="unidad_medida" class="form-label">
					<option selected value="">Selecciona</option>
					{% for unidad in undMedida %}
					<option value="{{unidad.value}}">{{unidad.value}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="col-md-4">
				<label for="cantidad" class="form-label">Cantidad</label>
				<input
					class="form-control"
					type="text"
					id="cantidad"
					name="cantidad"
				/>
			</div>
		</div>
	</div>
	<textarea name="comentarios" id="comentarios">Comentarios</textarea>
	<br />
	<input class="btn-estilos" type="submit" value="Enviar" />
</form>
{% endblock %}
