{% extends "mainPage.html" %} <title>Crear Material</title>
{% endblock} {% block estilos %}
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous"
/>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"
></script>
<link rel="stylesheet" href="formatos.css" />
{% endblock %} {% block page_content %}
<header>
	<h1 class="titulo">Crear Material</h1>
	<div class="num-pedido">Num. material</div>
</header>
<form action="input" name="material">
	<div class="container">
		<div class="fechas">
			<label for="fechaPedido" class="form-label">Fecha del pedido</label>
			<input class="form-control" type="date" id="fechaPedido" /><br />
			<label for="fechaRecibido" class="form-label">Fecha de recibido</label>
			<input class="form-control" type="date" id="fechaRecibido" /><br />
			<label for="fechaDespacho" class="form-label"
				>Fecha del despacho</label
			>
			<input class="form-control" type="date" id="fechaDespacho" />
		</div>
		<div class="pedidos">
			<label for="cod" class="form-label">Código del material</label>
			<input class="form-control" type="text" id="cod" />
			<label for="nombre" class="form-label">Nombre del material</label>
			<input class="form-control" type="text" id="nombre" />
			<label for="referencia" class="form-label">Referencia</label>
			<input class="form-control" type="text" id="referencia" />
			<label for="proveedor" class="form-label">Proveedor</label>
			<input class="form-control" type="text" id="proveedor" />
			<label for="descripcion" class="form-label"
				>Descripción del material</label
			>
			<input class="form-control" type="text" id="descripcion" />
			<label for="proposito" class="form-label">Propósito</label>
			<input class="form-control" type="text" id="proposito" />
			<label for="dimensiones" class="form-label">Dimensiones</label>
			<input class="form-control" type="text" id="dimensiones" />
			<label for="peso" class="form-label">Peso</label>
			<input class="form-control" type="text" id="peso" />
			<label for="unidad-medida" class="form-label">Unidad de medida</label>
			<input class="form-control" type="text" id="unidad-medida" />
		</div>
	</div>
	<textarea name="comentarios" id="comentarios">Comentarios</textarea>
	<br />
	<input class="btn-estilos" type="submit" value="Enviar" />
</form>
{% endblock %}
